body{
    /* cursor: none;  */
    background-color: #F1F0E8   ;
}
.continar{
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-items: center;
    align-items: center;
}
button{
    width: 100px;
    height: 50px;
    background-color: #FFFFFF;
    box-shadow: 6px 6px 10px black;
}

.carousel{
    background-color:#FFFFFF ;
}

.carousel img{
    height: 60vh;  
}

.continar button:hover{
    transform: scale(1.5,1.5);
    transition: 2s;
}

.fid{
  margin-top: 1vh;
    width: 60vw;
    height: 60vh;
    background-size: contain;
    display: none;
    position: absolute;
    transform: translateX(30%);
    background-color: #FFFFFF;
    ;
}
.fid img{
    width: 60vw;
    height: 60vh;
}
video{
    width: 60vw;
    height: 50vh;
}

